* @reside-eng/platform-tools

.github @reside-eng/platform-tools

# Skip assigning dep updates (handled by Renovate)
package.json
yarn.lock

# Require Devops approval for yarn config changes
.yarnrc.yml @reside-eng/devops
